<%= form_for @number, :html => { :class => "form-horizontal col-md-8 col-md-offset-2" } do |f| %>

    <% if @number.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@number.errors.count, "error") %> prohibited this number from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @number.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :tracking_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tracking_number, :value => number_to_phone(@number.tracking_number, :area_code => true).gsub(/^\+\d/, ''), :class => 'form-control', :readonly => true %>
    </div>
    <%= error_span(@number[:tracking_number]) %>
  </div>

  <div class="control-group">
    <%= f.label :business_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :business_number, :value => number_to_phone(@number.business_number, :area_code => true).gsub(/^\+\d/, ''), :class => 'form-control input-mask-phone' %>
    </div>
    <%= error_span(@number[:business_number]) %>
  </div>

  <br>

  <%= f.submit "Create New Tracking Number", :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            numbers_path, :class => 'btn btn-default' %>

<% end %>