<% if  @calls.any? %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date Time</th>
        <th>From</th>
        <th>Call Tracking Number</th>
        <th>Call Sid</th>
        <th>Number Id</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <% @calls.each do |call| %>
        <tr>
          <td><%=l call.created_at %></td>
          <td><%= call.From %></td>
          <td><%= call.To %></td>
          <td><%= call.CallSid %></td>
          <td><%= call.number_id %></td>
          <td><%= call.CallDuration %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


<% else %>

<div class="well">Sorry, no calls yet.</div>

<% end %>




<%= link_to 'Back', numbers_path,
            :class => 'btn btn-primary pull-right' %>
